@import url("https://fonts.googleapis.com/css2?family=Alice&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nunito", serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}

:root {
  --cor-1: #ffffff;
  --cor-2: #eff4f9;
  --cor-3: #445566;
  --cor-4: #17222d;
  --cor-5: #1188ee;
  --cor-6: #ee2211;
  --cor-7: #d91504;
  --cor--8: #bbccdd;
}

.font-01 {
  font-family: "Alice", serif; /* Adicionei 'serif' como fallback */
}
